<div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 col-sm-12">
            <div class="float-right filter">
              <form class="form-inline my-2 my-lg-0 justify-content-right">
                  <select id="inputState" (change)="onSortUser($event)" class="form-control">
                    <option selected>Sort By...</option>
                    <option value="name">name</option>
                    <option value="age">age</option>
                    <option value="preferences">preferences</option>              
                  </select>
                  <input class="form-control mr-sm-2" #searchUser type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="onSearchUser(searchUser.value)">Search</button>
                </form>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Age</th>
                  <th scope="col" colspan="2">Preferences</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users" (click)="chooseUser(user)">
                  <th scope="row">{{ user.id }}</th>
                  <td>{{user.name}}</td>
                  <td>{{user.age}}</td>
                  <td>{{user.preferences.color}}</td>
                  <td>{{user.preferences.food}}</td>            
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-12 col-lg-4 col-sm-12">
              <div *ngIf="selectedUser != null" class="mx-auto">
              <div class="user-card"><button type="button" class="btn btn-link" (click)="clearUser()"><i class="fa fa-window-close-o fa-lg" aria-hidden="true"></i></button></div>
              <div class="card" style="width: 18rem;">
                  <img class="card-img-top" *ngIf="selectedUser.image" src="{{selectedUser.image}}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{selectedUser.name}}</h5>
                    <p class="card-text"><button type="button" class="btn btn-info" (click)="goToDetail(selectedUser)">Detail</button></p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <a class="btn btn-primary" target="blank" href="https://github.com/RyanYizhaoHuang/octAssignmentFrontEnd" role="button">Source code</a>
        </div>
</div>